$theme-map-default: (
  --theme-primary: #283593,
  --theme-secondary: #8c9eff,
  --theme-background: #fcfcfe,
  --theme-color-active: #283593,
);
$theme-map-default-dark: (
  --theme-primary: #448aff,
  --theme-secondary: #82b1ff,
  --theme-background: #0c1024,
  --theme-color-active: #ffffff,
);

:root {
  &.theme {
    &--default:not(.dark) {
      @include spread-map-colors($theme-map-default);
    }
    &--default.dark {
      @include spread-map-colors($theme-map-default-dark);
    }
  }
}