$theme-map-gray: (
  --theme-primary: #424242,
  --theme-secondary: #bdbdbd,
  --theme-background: #fbfdfd,
  --theme-color-active: #424242,
);
$theme-map-gray-dark: (
  --theme-primary: #757575,
  --theme-secondary: #e0e0e0,
  --theme-background: #001412,
  --theme-color-active: #ffffff,
);

:root {
  &.theme {
    &--gray:not(.dark) {
      @include spread-map-colors($theme-map-gray);
    }
    &--gray.dark {
      @include spread-map-colors($theme-map-gray-dark);
    }
  }
}