$theme-map-default: (
  --theme-primary: #424242,
  --theme-secondary: #bdbdbd,
  --theme-background: #fbfdfd,
  --theme-background-sidebar: #090e0f,
  --theme-color-active: #424242,
);
$theme-map-default-dark: (
  --theme-primary: #757575,
  --theme-secondary: #e0e0e0,
  --theme-background: #090e0f,
  --theme-background-sidebar: #090e0f,
  --theme-color-active: #ffffff,
);

:root {
  &.theme {
    &--default:not(.dark) {
      @include spread-map-colors($theme-map-default);
    }
    &--default.dark {
      @include spread-map-colors($theme-map-default-dark);
    }
  }
}