$theme-map-green: (
  --theme-primary: #008573,
  --theme-secondary: #64ffda,
  --theme-background: #fbfdfd,
  --theme-background-sidebar: #001412,
  --theme-color-active: #008573,
);
$theme-map-green-dark: (
  --theme-primary: #00bfa5,
  --theme-secondary: #a7ffeb,
  --theme-background: #001412,
  --theme-background-sidebar: #001412,
  --theme-color-active: #ffffff,
);

:root {
  &.theme {
    &--green:not(.dark) {
      @include spread-map-colors($theme-map-green);
    }
    &--green.dark {
      @include spread-map-colors($theme-map-green-dark);
    }
  }
}