$theme-map-orange: (
  --theme-primary: #ff3d00,
  --theme-secondary: #ff9e80,
  --theme-background: #fffdfb,
  --theme-color-active: #ff3d00,
);
$theme-map-orange-dark: (
  --theme-primary: #ff9100,
  --theme-secondary: #ffd180,
  --theme-background: #2d1000,
  --theme-color-active: #ffffff,
);

:root {
  &.theme {
    &--orange:not(.dark) {
      @include spread-map-colors($theme-map-orange);
    }
    &--orange.dark {
      @include spread-map-colors($theme-map-orange-dark);
    }
  }
}