@import "themes/variables_default";
@import "themes/variables_green";
@import "themes/variables_orange";
@import "themes/variables_gray";

$header-height: 56px !default;
$main-sidebar-width: 80px !default;
$sub-sidebar-width: 200px !default;

$map-global-colors: (
    --theme-color: #000000,
    --theme-background-scrollbar: #000000,
);
$map-global-colors-dark: (
    --theme-color: #ffffff,
    --theme-background-scrollbar: #ffffff
);

:root {
  @include spread-map-colors($map-global-colors);
  @include spread-map-colors($theme-map-default);
  &.dark {
    @include spread-map-colors($map-global-colors-dark);
    @include spread-map-colors($theme-map-default-dark);
  }
  &.theme {
    &--default:not(.dark) {
      @include spread-map-colors($theme-map-default);
    }
    &--default.dark {
      @include spread-map-colors($theme-map-default-dark);
    }
    &--green:not(.dark) {
      @include spread-map-colors($theme-map-green);
    }
    &--green.dark {
      @include spread-map-colors($theme-map-green-dark);
    }
    &--orange:not(.dark) {
      @include spread-map-colors($theme-map-orange);
    }
    &--orange.dark {
      @include spread-map-colors($theme-map-orange-dark);
    }
    &--gray:not(.dark) {
      @include spread-map-colors($theme-map-gray);
    }
    &--gray.dark {
      @include spread-map-colors($theme-map-gray-dark);
    }
  }
}
