$header-height: 56px !default;
$main-sidebar-width: 80px !default;
$sub-sidebar-width: 190px !default;

$map-global-colors: (
    --theme-color: #000000,
    --theme-background-scrollbar: #000000,
    --theme-background-scrolled: #ffffff,
);
$map-global-colors-dark: (
    --theme-color: #ffffff,
    --theme-background-scrollbar: #ffffff,
    --theme-background-scrolled: #191919,
);

:root {
  @include spread-map-colors($map-global-colors);
  @include spread-map-colors($theme-map-default);
  .logo {
    filter: invert(0%);
  }
  .navbar-brand {
    color: rgba(var(--theme-color-rgb), 0.85);
  }
  &.dark {
    @include spread-map-colors($map-global-colors-dark);
    @include spread-map-colors($theme-map-default-dark);
    .logo {
      filter: invert(100%);
    }
    .navbar-brand {
      color: #ffffff;
    }
  }
}
