$header-height: 56px !default;
$main-sidebar-width: 80px !default;
$sub-sidebar-width: 200px !default;

$map-global-colors: (
    --theme-color: #000000,
    --theme-background-scrollbar: #000000,
);
$map-global-colors-dark: (
    --theme-color: #ffffff,
    --theme-background-scrollbar: #ffffff
);

:root {
  @include spread-map-colors($map-global-colors);
  @include spread-map-colors($theme-map-default);
  &.dark {
    @include spread-map-colors($map-global-colors-dark);
    @include spread-map-colors($theme-map-default-dark);
  }
}
