@import "mixins";

@import "themes/variables_default";
@import "themes/variables_green";
@import "themes/variables_orange";
@import "themes/variables_gray";

@import "variables";

@import "scss/app/header";
@import "scss/app/sidebar";

@import "scss/ui/buttons";
@import "scss/ui/breadcrumb";
@import "scss/ui/card";

@import "scss/ui/vendor/jquery.scrollbar";

body {
    background-color: var(--theme-background);
    overflow: auto;
    color: rgba(var(--theme-color-rgb), 0.65);
    font-family: 'Maven Pro';
}
.app-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    .page-scrollbar {
        width: 100%;
        height: calc(100vh - #{$header-height});
        margin-top: $header-height;
        background-color: var(--theme-background);
        &.scroll-content {
            margin-top: 0px;
            background-color: transparent;
        }
        main.page-container {
            padding: 20px;
        }
    }
}