@import "mixins";

@import "themes/variables_default";
@import "themes/variables_blue";
@import "themes/variables_green";
@import "themes/variables_orange";

@import "variables";

@import "scss/app/header";
@import "scss/app/sidebar";

@import "scss/ui/buttons";
@import "scss/ui/breadcrumb";
@import "scss/ui/card";
@import "scss/ui/accordions";

@import "scss/ui/vendor/jquery.scrollbar";

body {
    background-color: var(--theme-background);
    overflow: auto;
    color: rgba(var(--theme-color-rgb), 0.65);
    font-family: 'Maven Pro';
    h1, h2, h3, h4, h5, h6, span, label, font, strong {
        color: rgba(var(--theme-color-rgb), 0.8);
    }
    #is-desktop {
        display: block;
    }
    #is-mobile {
        display: none;
    }
}
.app-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    .page-scrollbar {
        width: 100%;
        height: calc(100vh - #{$header-height});
        margin-top: $header-height;
        background-color: var(--theme-background);
        &.scroll-wrapper {
            position: relative;
        }
        &.scroll-content {
            margin-top: 0px;
            background-color: transparent;
        }
        main.page-container {
            padding: 20px 15px;
        }
    }
}
aside.header, .overflow-bg, .sidebar, [data-component="sidebar"], .page-scrollbar.scroll-wrapper {
    transition: all .2s ease;
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #is-desktop {
        display: none!important;
    }
    #is-mobile {
        display: block!important;
    }
    .overflow-bg {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        // visibility: hidden;
    }
    aside.sidebar {
        margin-top: 0px;
        .nav-sidebar {
            height: calc(100vh);
            .nav-sidebar-main {
                height: calc(100vh - 20px);
            }
            .nav-sidebar-children {
                height: calc(100vh);
                margin-top: 0px;
            }
        }
    }
    body {
        overflow: hidden;
        [data-component="sidebar"] {
            position: fixed;
            transform: translateX(0px);
            z-index: 1;
        }
        // .page-scrollbar.scroll-wrapper, aside.header {
        //     transform: translateX(#{$main-sidebar-width});
        // }
        .overflow-bg {
            display: block;
            // visibility: visible;
        }
        &.sidebar-has-children {
            [data-component="sidebar"] {
                transform: translateX(0px);
            }
            // .page-scrollbar.scroll-wrapper, aside.header {
            //     transform: translateX(#{$main-sidebar-width + $sub-sidebar-width});
            // }
            .overflow-bg {
                display: block;
                // visibility: visible;
            }
        }
        &.hide-mobile-sidebar {
            [data-component="sidebar"] {
                transform: translateX(-#{$main-sidebar-width});
            }
            &.sidebar-has-children {
                [data-component="sidebar"] {
                    transform: translateX(-#{$main-sidebar-width + $sub-sidebar-width});
                }
            }
            // .page-scrollbar.scroll-wrapper, aside.header {
            //     transform: translateX(0px);
            // }
            .overflow-bg {
                display: none;
                // visibility: hidden;
            }
        }

    }
    // .app-layout {
    //     [data-component="sidebar"] {
    //         // transform: translateX(-#{$main-sidebar-width + $sub-sidebar-width});
    //         position: fixed;
    //     }
    //     .page-scrollbar.scroll-wrapper {
    //         transform: translateX(0px);
    //     }
    // }
    // body.sidebar-has-children {
    //     .app-layout {
    //         [data-component="sidebar"] {
    //             // transform: translateX(-#{$main-sidebar-width + $sub-sidebar-width});
    //         }
    //         .page-scrollbar.scroll-wrapper {
    //             transform: translateX(#{$main-sidebar-width + $sub-sidebar-width});
    //         }
    //     }
    // }
    // body.show-sidebar {
    //     .page-scrollbar.scroll-wrapper {
    //         transform: translateX(#{$main-sidebar-width});
    //     }
    //     [data-component="sidebar"] {
    //         transform: translateX(0px);
    //     }
    //     &.sidebar-has-children {
    //         .page-scrollbar.scroll-wrapper {
    //             transform: translateX(#{$main-sidebar-width + $sub-sidebar-width});
    //         }
    //         [data-component="sidebar"] {
    //             transform: translateX(0px);
    //         }
    //     }
    // }
    
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}
