aside.header {
    width: 100%;
    position: fixed;
    background-color: var(--theme-background);
    z-index: 1;
    overflow: hidden;
    .navbar {
        background-color: var(--theme-background);
        .container-fluid {
            display: inline-flex;
            padding: 0px;
            flex-wrap: inherit;
            justify-content: initial;
        }
        .navbar-toggle {
            width: $main-sidebar-width;
            text-align: center;
            display: inline-block;
            button {
                i {
                    font-size: 18px;
                    color: rgba(var(--theme-color-rgb), 0.65);
                }
                &:hover {
                    background-color: var(--theme-background-hover);
                }
                &:focus, &:active {
                    box-shadow: unset;
                }
            }
        }
        #breadcrumb-header {
            padding-left: 10px;
            .breadcrumb {
                transform: translateY($header-height);
                transition: all .2s ease-in-out;
            }
            &.show {
                .breadcrumb {
                    transform: translateY(0px);
                }
            }
            .breadcrumb {
                padding: 10px 30px;
                display: inline-flex;
                margin: 0px;
                padding: 0px;
                width: auto;
                li {
                    position: relative;
                    font-size: 13px;
                    display: table;
                    margin-top: 4px;
                    &:before {
                        bottom: 0px!important;
                    }
                    &:first-of-type {
                        margin: 0px;
                        h4 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .navbar-brand {
            margin: 0px;
            width: $sub-sidebar-width;
            padding-left: 15px;
            font-weight: 600;
            display: flex;
            .logo {
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
            span {
                line-height: 35px;
                margin: 0px;
            }
        }
        .navbar-items {
            display: inline-block;
            width: 100%;
        }
    }
}