
aside.sidebar {
    display: block;
    // padding-top: 10px;
    margin-top: $header-height;
    .nav-sidebar {
        height: calc(100vh - #{$header-height});
        width: $main-sidebar-width;
    }
    .nav-sidebar-main {
        list-style-type: none;
        padding: 0px;
        width: $main-sidebar-width;
        padding-left: 8px;
        padding-right: 12px;
        height: calc(100vh - #{$header-height} - 20px);
        margin-top: 5px;
        margin-bottom: 5px;
        >li {
            text-align: center;
            position: inherit;
            margin-bottom: 5px;
            >.btn {
                padding: 5px;
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
                font-size: 12px;
                * {
                    pointer-events: none;
                }
                i {
                    font-size: 18px;
                    color: rgba(var(--theme-color-rgb), 0.65);
                }
                span {
                    margin-top: 0px;
                    display: block;
                    font-weight: 600;
                    color: rgba(var(--theme-color-rgb), 0.65);
                }
                &:hover {
                    background-color: rgba(var(--theme-color-rgb), 0.05);
                }
                &:active, &:focus {
                    box-shadow: unset;
                }
            }
            &.active {
                color: var(--theme-primary);
                >.btn {
                    position: relative;
                    &:before {
                        content: "";
                        height: 100%;
                        width: 5px;
                        background-color: var(--theme-primary);
                        position: absolute;
                        left: -9px;
                        border-radius: 10px;
                        top: 0;
                    }
                    span, i {
                        color: var(--theme-primary);
                    }
                    &+ul {
                        display: block;
                    }
                }
                .nav-sidebar-children {
                    display: block!important;
                }
            }
        }
    }
    .nav-sidebar-children {
        &.scroll-wrapper {
            position: fixed!important;
        }
        &.scroll-content {
            left: 0px!important;
            margin-top: 0px!important;
            padding-top: 0px!important;
            padding-bottom: 0px!important;
            position: relative!important;
        }
        width: calc(#{$sub-sidebar-width});
        padding: 0px;
        list-style-type: none;
        display: none;
        top: 0px;
        left: $main-sidebar-width;
        color: rgba(var(--theme-color-rgb), 0.85);
        padding-left: 0px;
        margin-top: $header-height;
        height: calc(100vh - #{$header-height});
        overflow: hidden;
        padding-right: 12px;
        li {
            width: 100%;
            margin: 0px;
            text-align: left;
            display: inline-flex;
            border-radius: 3px;
            margin-bottom: 3px;
            &.label {
                text-align: left;
                font-size: 10px;
                font-weight: 700;
                color: var(--theme-primary);
                text-transform: uppercase;
                padding: 3px 10px;
                // margin-top: 15px;
            }
            a {
                color: rgba(var(--theme-color-rgb), 0.65);
                width: 100%;
                padding: 7px 15px 7px 15px;
                font-size: 12px;
                text-decoration: none;
                font-weight: 500;
                i {
                    margin-right: 10px;
                    font-size: 13px;
                    color: rgba(var(--theme-color-rgb), 0.65);
                }
            }
            &.active {
                background-color: rgba(var(--theme-secondary-rgb), 0.24);
                a {
                    color: var(--theme-color-active);
                    // font-weight: 500;
                    i {
                        color: var(--theme-color-active);
                    }
                }
            }
            &:hover:not(.label) {
                cursor: pointer;
                background-color: rgba(var(--theme-color-rgb), 0.05);
                &.active {
                    background-color: rgba(var(--theme-secondary-rgb), 0.24);
                    a {
                        color: var(--theme-color-active);
                        // font-weight: 500;
                        i {
                            color: var(--theme-color-active);
                        }
                    }
                }
            }
        }
    }
    .nav-sidebar {
        +.bg-sidebar {
            width: calc(#{$main-sidebar-width});
            -webkit-transition: width .2s ease-in-out;
            -moz-transition: width .2s ease-in-out;
            -o-transition: width .2s ease-in-out;
            transition: width .2s ease-in-out;
        }
    }
}

body.show-sidebar {
    .nav-sidebar {
        &.show-children {
            +.bg-sidebar {
                width: calc(#{$main-sidebar-width} + #{$sub-sidebar-width});
            }
        }
    }
}

