:root {
  --theme-primary: #283593;
  --theme-secondary: #8c9eff;
  --theme-background: #fcfcfe;
  --theme-background-hover: rgba(80, 80, 80, 0.05);
  --theme-background-active: rgba(140, 158, 255, 0.24);
  --theme-scrollbar: rgba(0, 0, 0, 0.25);
  --theme-color-active: #283593;
  --theme-color-black: black;
  --theme-color-white: white; }
  :root.dark {
    --theme-primary: #5c6bc0;
    --theme-secondary: #82b1ff;
    --theme-background: #0c1024;
    --theme-background-hover: rgba(255, 255, 255, 0.05);
    --theme-background-active: rgba(130, 177, 255, 0.24);
    --theme-scrollbar: rgba(255, 255, 255, 0.25);
    --theme-color-active: white;
    --theme-color-black: white;
    --theme-color-white: black; }
  :root.theme--default:not(.dark) {
    --theme-primary: #283593;
    --theme-secondary: #8c9eff;
    --theme-background: #fcfcfe;
    --theme-background-hover: rgba(80, 80, 80, 0.05);
    --theme-background-active: rgba(140, 158, 255, 0.24);
    --theme-scrollbar: rgba(0, 0, 0, 0.25);
    --theme-color-active: #283593;
    --theme-color-black: black;
    --theme-color-white: white; }
  :root.theme--default.dark {
    --theme-primary: #5c6bc0;
    --theme-secondary: #82b1ff;
    --theme-background: #0c1024;
    --theme-background-hover: rgba(255, 255, 255, 0.05);
    --theme-background-active: rgba(130, 177, 255, 0.24);
    --theme-scrollbar: rgba(255, 255, 255, 0.25);
    --theme-color-active: white;
    --theme-color-black: white;
    --theme-color-white: black; }
  :root.theme--green:not(.dark) {
    --theme-primary: #008573;
    --theme-secondary: #64ffda;
    --theme-background: #fbfdfd;
    --theme-background-hover: rgba(80, 80, 80, 0.05);
    --theme-background-active: rgba(100, 255, 218, 0.24);
    --theme-scrollbar: rgba(0, 0, 0, 0.25);
    --theme-color-active: #008573;
    --theme-color-black: black;
    --theme-color-white: white; }
  :root.theme--green.dark {
    --theme-primary: #00bfa5;
    --theme-secondary: #a7ffeb;
    --theme-background: #001412;
    --theme-background-hover: rgba(255, 255, 255, 0.05);
    --theme-background-active: rgba(167, 255, 235, 0.24);
    --theme-scrollbar: rgba(255, 255, 255, 0.25);
    --theme-color-active: white;
    --theme-color-black: white;
    --theme-color-white: black; }
  :root.theme--orange:not(.dark) {
    --theme-primary: #ff3d00;
    --theme-secondary: #ff9e80;
    --theme-background: #fffdfb;
    --theme-background-hover: rgba(80, 80, 80, 0.05);
    --theme-background-active: rgba(255, 158, 128, 0.24);
    --theme-scrollbar: rgba(0, 0, 0, 0.25);
    --theme-color-active: #ff3d00;
    --theme-color-black: black;
    --theme-color-white: white; }
  :root.theme--orange.dark {
    --theme-primary: #ff9100;
    --theme-secondary: #ffd180;
    --theme-background: #2d1000;
    --theme-background-hover: rgba(255, 255, 255, 0.05);
    --theme-background-active: rgba(255, 209, 128, 0.24);
    --theme-scrollbar: rgba(255, 255, 255, 0.25);
    --theme-color-active: white;
    --theme-color-black: white;
    --theme-color-white: black; }

aside.header {
  width: 100%;
  position: fixed;
  background-color: var(--theme-background); }
  aside.header .navbar {
    background-color: var(--theme-background); }
    aside.header .navbar .container-fluid {
      display: inline-flex;
      padding: 0px;
      flex-wrap: inherit;
      justify-content: initial; }
    aside.header .navbar .navbar-toggle {
      width: 120px;
      text-align: center;
      display: inline-block; }
      aside.header .navbar .navbar-toggle button i {
        font-size: 18px;
        color: var(--theme-primary); }
      aside.header .navbar .navbar-toggle button:hover {
        background-color: var(--theme-background-hover); }
      aside.header .navbar .navbar-toggle button:focus, aside.header .navbar .navbar-toggle button:active {
        box-shadow: unset; }
    aside.header .navbar .navbar-brand {
      color: var(--theme-primary);
      margin: 0px;
      width: 220px;
      padding-left: 15px;
      font-weight: 600; }
    aside.header .navbar .navbar-items {
      display: inline-block;
      width: 100%; }

aside.sidebar {
  display: block;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 56px; }
  aside.sidebar .nav-sidebar-main {
    list-style-type: none;
    padding: 0px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px; }
    aside.sidebar .nav-sidebar-main > li {
      text-align: center;
      position: inherit;
      margin-bottom: 5px; }
      aside.sidebar .nav-sidebar-main > li > .btn {
        padding: 10px;
        width: 100%;
        color: inherit;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px; }
        aside.sidebar .nav-sidebar-main > li > .btn * {
          pointer-events: none; }
        aside.sidebar .nav-sidebar-main > li > .btn i {
          font-size: 22px;
          color: var(--theme-color-black);
          opacity: .35; }
        aside.sidebar .nav-sidebar-main > li > .btn span {
          margin-top: 5px;
          display: block;
          font-weight: 600;
          color: var(--theme-color-black);
          opacity: .8; }
        aside.sidebar .nav-sidebar-main > li > .btn:hover {
          background: var(--theme-background-hover); }
        aside.sidebar .nav-sidebar-main > li > .btn:active, aside.sidebar .nav-sidebar-main > li > .btn:focus {
          box-shadow: unset; }
      aside.sidebar .nav-sidebar-main > li.active {
        color: var(--theme-primary); }
        aside.sidebar .nav-sidebar-main > li.active > .btn {
          position: relative;
          opacity: 1; }
          aside.sidebar .nav-sidebar-main > li.active > .btn:before {
            content: "";
            height: 100%;
            width: 5px;
            background-color: var(--theme-primary);
            position: absolute;
            left: -11px;
            border-radius: 10px;
            top: 0; }
          aside.sidebar .nav-sidebar-main > li.active > .btn span, aside.sidebar .nav-sidebar-main > li.active > .btn i {
            color: var(--theme-primary);
            opacity: 1; }
          aside.sidebar .nav-sidebar-main > li.active > .btn + ul {
            display: block; }
        aside.sidebar .nav-sidebar-main > li.active .nav-sidebar-children {
          display: block !important; }
  aside.sidebar .nav-sidebar-children {
    z-index: 100;
    width: calc(220px);
    padding: 0px;
    list-style-type: none;
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
    padding-top: 10px !important;
    color: rgba(0, 0, 0, 0.54);
    padding-left: 5px;
    margin-top: 56px;
    height: calc(100vh - 56px);
    overflow: hidden;
    padding-right: 15px; }
    aside.sidebar .nav-sidebar-children li {
      width: 100%;
      margin: 0px;
      text-align: left;
      display: inline-flex;
      border-radius: 3px;
      margin-bottom: 3px; }
      aside.sidebar .nav-sidebar-children li.label {
        text-align: left;
        font-size: 10px;
        font-weight: 600;
        color: var(--theme-primary);
        text-transform: uppercase;
        padding: 3px 10px;
        margin-top: 15px; }
      aside.sidebar .nav-sidebar-children li a {
        color: var(--theme-color-black);
        width: 100%;
        padding: 7px 15px 7px 15px;
        font-size: 13px;
        text-decoration: none;
        opacity: .65; }
        aside.sidebar .nav-sidebar-children li a i {
          margin-right: 10px;
          font-size: 13px;
          color: var(--theme-color-black);
          opacity: .65; }
      aside.sidebar .nav-sidebar-children li.active {
        background-color: var(--theme-background-active); }
        aside.sidebar .nav-sidebar-children li.active a {
          color: var(--theme-color-active);
          opacity: 1; }
          aside.sidebar .nav-sidebar-children li.active a i {
            opacity: 1;
            color: var(--theme-color-active); }
      aside.sidebar .nav-sidebar-children li:hover:not(.label) {
        cursor: pointer;
        background-color: var(--theme-background-hover); }
        aside.sidebar .nav-sidebar-children li:hover:not(.label).active {
          background-color: var(--theme-background-active); }
          aside.sidebar .nav-sidebar-children li:hover:not(.label).active a {
            color: var(--theme-color-active);
            opacity: 1; }
            aside.sidebar .nav-sidebar-children li:hover:not(.label).active a i {
              opacity: 1;
              color: var(--theme-color-active); }
  aside.sidebar .nav-sidebar + .bg-sidebar {
    width: calc(120px);
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out; }

body.show-sidebar .nav-sidebar.show-children + .bg-sidebar {
  width: calc(120px + 220px); }

.breadcrumb-section {
  border-radius: 0.25rem; }
  .breadcrumb-section nav {
    padding: 15px;
    border-radius: 0.25rem; }
  .breadcrumb-section .breadcrumb {
    padding: 10px 30px;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    width: auto; }
    .breadcrumb-section .breadcrumb li {
      position: relative;
      font-size: 14px;
      display: table; }
      .breadcrumb-section .breadcrumb li:first-of-type h4 {
        font-size: 24px;
        margin-bottom: 0px;
        margin-right: 20px;
        color: var(--theme-primary);
        font-weight: 600; }
      .breadcrumb-section .breadcrumb li.breadcrumb-item {
        margin-right: 10px;
        color: var(--theme-color-black);
        opacity: .65; }
        .breadcrumb-section .breadcrumb li.breadcrumb-item a, .breadcrumb-section .breadcrumb li.breadcrumb-item span {
          text-decoration: none;
          color: var(--theme-color-black);
          display: table-cell;
          vertical-align: bottom; }
        .breadcrumb-section .breadcrumb li.breadcrumb-item:hover:not(:last-of-type) {
          opacity: .85; }
        .breadcrumb-section .breadcrumb li.breadcrumb-item:before {
          position: absolute;
          bottom: 0px;
          left: -5px; }
      .breadcrumb-section .breadcrumb li:last-of-type {
        color: var(--theme-color-black);
        font-weight: 500;
        opacity: 1; }

[data-vendor="scrollbot"] .scrollbot-outer-parent .scrollbot-scrollbar-holder {
  display: none !important;
  background-color: var(--theme-background) !important; }
  [data-vendor="scrollbot"] .scrollbot-outer-parent .scrollbot-scrollbar-holder .scrollbot-scrollbar {
    background-color: var(--theme-scrollbar) !important; }

[data-vendor="scrollbot"] .scrollbot-outer-parent:hover .scrollbot-scrollbar-holder {
  display: block !important; }

body {
  background-color: var(--theme-background);
  overflow: auto; }

.app-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; }
  .app-layout main.page-container {
    z-index: 100;
    width: 100%;
    background-color: var(--theme-background);
    position: relative;
    margin-top: 56px;
    padding: 10px;
    height: calc(100vh - 56px); }
