:root {
  --theme-color: #000000;
  --theme-color-rgb: 0, 0, 0;
  --theme-background-scrollbar: #000000;
  --theme-background-scrollbar-rgb: 0, 0, 0;
  --theme-primary: #283593;
  --theme-primary-rgb: 40, 53, 147;
  --theme-secondary: #8c9eff;
  --theme-secondary-rgb: 140, 158, 255;
  --theme-background: #fcfcfe;
  --theme-background-rgb: 252, 252, 254;
  --theme-color-active: #283593;
  --theme-color-active-rgb: 40, 53, 147; }
  :root.dark {
    --theme-color: #ffffff;
    --theme-color-rgb: 255, 255, 255;
    --theme-background-scrollbar: #ffffff;
    --theme-background-scrollbar-rgb: 255, 255, 255;
    --theme-primary: #448aff;
    --theme-primary-rgb: 68, 138, 255;
    --theme-secondary: #82b1ff;
    --theme-secondary-rgb: 130, 177, 255;
    --theme-background: #0c1024;
    --theme-background-rgb: 12, 16, 36;
    --theme-color-active: #ffffff;
    --theme-color-active-rgb: 255, 255, 255; }
  :root.theme--default:not(.dark) {
    --theme-primary: #283593;
    --theme-primary-rgb: 40, 53, 147;
    --theme-secondary: #8c9eff;
    --theme-secondary-rgb: 140, 158, 255;
    --theme-background: #fcfcfe;
    --theme-background-rgb: 252, 252, 254;
    --theme-color-active: #283593;
    --theme-color-active-rgb: 40, 53, 147; }
  :root.theme--default.dark {
    --theme-primary: #448aff;
    --theme-primary-rgb: 68, 138, 255;
    --theme-secondary: #82b1ff;
    --theme-secondary-rgb: 130, 177, 255;
    --theme-background: #0c1024;
    --theme-background-rgb: 12, 16, 36;
    --theme-color-active: #ffffff;
    --theme-color-active-rgb: 255, 255, 255; }
  :root.theme--green:not(.dark) {
    --theme-primary: #008573;
    --theme-primary-rgb: 0, 133, 115;
    --theme-secondary: #64ffda;
    --theme-secondary-rgb: 100, 255, 218;
    --theme-background: #fbfdfd;
    --theme-background-rgb: 251, 253, 253;
    --theme-color-active: #008573;
    --theme-color-active-rgb: 0, 133, 115; }
  :root.theme--green.dark {
    --theme-primary: #00bfa5;
    --theme-primary-rgb: 0, 191, 165;
    --theme-secondary: #a7ffeb;
    --theme-secondary-rgb: 167, 255, 235;
    --theme-background: #001412;
    --theme-background-rgb: 0, 20, 18;
    --theme-color-active: #ffffff;
    --theme-color-active-rgb: 255, 255, 255; }
  :root.theme--orange:not(.dark) {
    --theme-primary: #ff3d00;
    --theme-primary-rgb: 255, 61, 0;
    --theme-secondary: #ff9e80;
    --theme-secondary-rgb: 255, 158, 128;
    --theme-background: #fffdfb;
    --theme-background-rgb: 255, 253, 251;
    --theme-color-active: #ff3d00;
    --theme-color-active-rgb: 255, 61, 0; }
  :root.theme--orange.dark {
    --theme-primary: #ff9100;
    --theme-primary-rgb: 255, 145, 0;
    --theme-secondary: #ffd180;
    --theme-secondary-rgb: 255, 209, 128;
    --theme-background: #2d1000;
    --theme-background-rgb: 45, 16, 0;
    --theme-color-active: #ffffff;
    --theme-color-active-rgb: 255, 255, 255; }

aside.header {
  width: 100%;
  position: fixed;
  background-color: var(--theme-background); }
  aside.header .navbar {
    background-color: var(--theme-background); }
    aside.header .navbar .container-fluid {
      display: inline-flex;
      padding: 0px;
      flex-wrap: inherit;
      justify-content: initial; }
    aside.header .navbar .navbar-toggle {
      width: 120px;
      text-align: center;
      display: inline-block; }
      aside.header .navbar .navbar-toggle button i {
        font-size: 18px;
        color: rgba(var(--theme-color-rgb), 0.65); }
      aside.header .navbar .navbar-toggle button:hover {
        background-color: var(--theme-background-hover); }
      aside.header .navbar .navbar-toggle button:focus, aside.header .navbar .navbar-toggle button:active {
        box-shadow: unset; }
    aside.header .navbar .navbar-brand {
      color: var(--theme-color-active);
      margin: 0px;
      width: 220px;
      padding-left: 15px;
      font-weight: 600; }
    aside.header .navbar .navbar-items {
      display: inline-block;
      width: 100%; }

aside.sidebar {
  display: block;
  padding-top: 10px;
  margin-top: 56px; }
  aside.sidebar .nav-sidebar-main {
    list-style-type: none;
    padding: 0px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px; }
    aside.sidebar .nav-sidebar-main > li {
      text-align: center;
      position: inherit;
      margin-bottom: 5px; }
      aside.sidebar .nav-sidebar-main > li > .btn {
        padding: 10px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px; }
        aside.sidebar .nav-sidebar-main > li > .btn * {
          pointer-events: none; }
        aside.sidebar .nav-sidebar-main > li > .btn i {
          font-size: 22px;
          color: rgba(var(--theme-color-rgb), 0.45); }
        aside.sidebar .nav-sidebar-main > li > .btn span {
          margin-top: 5px;
          display: block;
          font-weight: 600;
          color: rgba(var(--theme-color-rgb), 0.45); }
        aside.sidebar .nav-sidebar-main > li > .btn:hover {
          background-color: rgba(var(--theme-color-rgb), 0.05); }
        aside.sidebar .nav-sidebar-main > li > .btn:active, aside.sidebar .nav-sidebar-main > li > .btn:focus {
          box-shadow: unset; }
      aside.sidebar .nav-sidebar-main > li.active {
        color: var(--theme-primary); }
        aside.sidebar .nav-sidebar-main > li.active > .btn {
          position: relative; }
          aside.sidebar .nav-sidebar-main > li.active > .btn:before {
            content: "";
            height: 100%;
            width: 5px;
            background-color: var(--theme-primary);
            position: absolute;
            left: -11px;
            border-radius: 10px;
            top: 0; }
          aside.sidebar .nav-sidebar-main > li.active > .btn span, aside.sidebar .nav-sidebar-main > li.active > .btn i {
            color: var(--theme-primary); }
          aside.sidebar .nav-sidebar-main > li.active > .btn + ul {
            display: block; }
        aside.sidebar .nav-sidebar-main > li.active .nav-sidebar-children {
          display: block !important; }
  aside.sidebar .nav-sidebar-children {
    width: calc(220px);
    padding: 0px;
    list-style-type: none;
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
    padding-top: 10px !important;
    color: rgba(var(--theme-color-rgb), 0.85);
    padding-left: 5px;
    margin-top: 56px;
    height: calc(100vh - 56px);
    padding-bottom: 10px !important;
    overflow: hidden;
    padding-right: 15px; }
    aside.sidebar .nav-sidebar-children.scroll-content {
      left: 0px !important;
      margin-top: 0px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important; }
    aside.sidebar .nav-sidebar-children li {
      width: 100%;
      margin: 0px;
      text-align: left;
      display: inline-flex;
      border-radius: 3px;
      margin-bottom: 3px; }
      aside.sidebar .nav-sidebar-children li.label {
        text-align: left;
        font-size: 10px;
        font-weight: 700;
        color: var(--theme-primary);
        text-transform: uppercase;
        padding: 3px 10px;
        margin-top: 15px; }
      aside.sidebar .nav-sidebar-children li a {
        color: rgba(var(--theme-color-rgb), 0.85);
        width: 100%;
        padding: 7px 15px 7px 15px;
        font-size: 13px;
        text-decoration: none; }
        aside.sidebar .nav-sidebar-children li a i {
          margin-right: 10px;
          font-size: 13px;
          color: rgba(var(--theme-color-rgb), 0.85); }
      aside.sidebar .nav-sidebar-children li.active {
        background-color: rgba(var(--theme-secondary-rgb), 0.24); }
        aside.sidebar .nav-sidebar-children li.active a {
          color: var(--theme-color-active); }
          aside.sidebar .nav-sidebar-children li.active a i {
            color: var(--theme-color-active); }
      aside.sidebar .nav-sidebar-children li:hover:not(.label) {
        cursor: pointer;
        background-color: rgba(var(--theme-color-rgb), 0.05); }
        aside.sidebar .nav-sidebar-children li:hover:not(.label).active {
          background-color: rgba(var(--theme-secondary-rgb), 0.24); }
          aside.sidebar .nav-sidebar-children li:hover:not(.label).active a {
            color: var(--theme-color-active); }
            aside.sidebar .nav-sidebar-children li:hover:not(.label).active a i {
              color: var(--theme-color-active); }
  aside.sidebar .nav-sidebar + .bg-sidebar {
    width: calc(120px);
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out; }

body.show-sidebar .nav-sidebar.show-children + .bg-sidebar {
  width: calc(120px + 220px); }

.breadcrumb-section {
  border-radius: 0.25rem; }
  .breadcrumb-section nav {
    padding: 15px;
    border-radius: 0.25rem; }
  .breadcrumb-section .breadcrumb {
    padding: 10px 30px;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    width: auto; }
    .breadcrumb-section .breadcrumb li {
      position: relative;
      font-size: 14px;
      display: table; }
      .breadcrumb-section .breadcrumb li:first-of-type h4 {
        font-size: 24px;
        margin-bottom: 0px;
        margin-right: 20px;
        color: var(--theme-primary);
        font-weight: 600; }
      .breadcrumb-section .breadcrumb li.breadcrumb-item {
        margin-right: 10px;
        color: var(--theme-color); }
        .breadcrumb-section .breadcrumb li.breadcrumb-item a, .breadcrumb-section .breadcrumb li.breadcrumb-item span {
          text-decoration: none;
          color: inherit;
          display: table-cell;
          vertical-align: bottom; }
        .breadcrumb-section .breadcrumb li.breadcrumb-item:before {
          position: absolute;
          bottom: 0px;
          left: -5px; }
      .breadcrumb-section .breadcrumb li:last-of-type {
        color: rgba(var(--theme-color-rgb), 0.65); }

.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-macosx > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-macosx > .scroll-element .scroll-element_track {
  display: none; }

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: rgba(var(--theme-background-scrollbar-rgb), 0.25);
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5; }

.scrollbar-macosx > .scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%; }

.scrollbar-macosx > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
  height: 5px;
  min-width: 8px;
  top: -9px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 8px;
  width: 5px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {
  left: 2px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {
  top: 2px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

body {
  background-color: var(--theme-background);
  overflow: auto;
  color: rgba(var(--theme-color-rgb), 0.45);
  font-family: 'Maven Pro'; }

.app-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; }
  .app-layout main.page-container {
    z-index: 100;
    width: 100%;
    background-color: var(--theme-background);
    position: relative;
    margin-top: 56px;
    padding: 10px;
    height: calc(100vh - 56px); }
    .app-layout main.page-container .page-scrollbar {
      width: 100%; }
