@import "mixins";
@import "variables";

@import "scss/app/header";
@import "scss/app/sidebar";
@import "scss/ui/breadcrumb";
@import "scss/ui/vendor/scrollbar";

body {
    background-color: theme-var($--theme-background);
    overflow: auto;
}

.app-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    main.page-container {
        z-index: 100;
        width: 100%;
        background-color: theme-var($--theme-background);
        position: relative;
        margin-top: $header-height;
        padding: 10px;
        height: calc(100vh - #{$header-height});
    }
}